@import "vars";

.form-container {
  max-width: 400px;
  background: white;
  margin: auto;
  box-shadow: 0 20px 30px $dark-15;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 8px;

  &__input {
    display: flex;
    flex-direction: column;
    color: $dark-70;
    input {
      outline: none;
      border: none;
      border-bottom: 1px solid $dark-10;
      font-size: inherit;
      color: inherit;
      transition: all 0.3s;
      padding: 8px;
      &::placeholder {
        font-style: italic;
        color: $dark-15;
      }
      &.ng-invalid {
        border-color: $primary-color;
      }
      &:hover,
      &:focus {
        border-color: $dark-70;
      }
    }
  }
  &__button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px;
    background: $primary-color;
    color: #fff;
    transition: all 0.3s;
    font-size: inherit;
    font-weight: bold;
    &:hover {
      background: $background-color;
      color: $dark-70;
    }
  }
}

#login {
  align-self: flex-end;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
