<div class="form-container">
  <form class="papper form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label class="form__input">
      <input type="text" formControlName="name" placeholder="Name" />
    </label>
    <label class="form__input">
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
      />
    </label>

    <button class="form__button" type="submit" [disabled]="!registerForm.valid">
      Register
    </button>

    <a id="login" routerLink="/login" class="footer-text form__login">
      Already have an account?
    </a>
  </form>
</div>
