* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  padding: 30px;
  flex-direction: column;
  row-gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input-button {
  display: flex;
  flex-direction: row;
}

.input-button__field {
  outline: none;
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid lightgrey;
  border-radius: 4px 1px 1px 4px;
  transition: all 0.3s;
}

.input-button__button {
  outline: none;
  padding: 8px;
  background-color: transparent;
  border: 1px solid lightgray;
  border-left: 0px;
  border-radius: 1px 4px 4px 1px;
  transition: all 0.3s;
}

select {
  outline: none;
  text-align-last: center;
  max-width: 250px;
  padding: 8px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  background: transparent;
  transition: all 0.3s;
}

input:invalid {
  border-color: red;
}

input:hover,
button:hover,
select:hover {
  border-color: gray;
}

input:focus,
button:focus,
select:focus {
  border-color: skyblue;
}
