<div class="todo">
  <div class="todo__header">
    <label *ngIf="todos.length > 0" class="todo__header__checkbox">
      <input
        #checkAll
        type="checkbox"
        [checked]="isTogglerChecked"
        (change)="toggleAll(checkAll.checked)"
      />
      <span class="todo__header__checkbox__control">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240.811 240.811">
          <path
            fill="currentColor"
            d="M220.088,57.667l-99.671,99.695L20.746,57.655c-4.752-4.752-12.439-4.752-17.191,0
                                c-4.74,4.752-4.74,12.451,0,17.203l108.261,108.297l0,0l0,0c4.74,4.752,12.439,4.752,17.179,0L237.256,74.859
                                c4.74-4.752,4.74-12.463,0-17.215C232.528,52.915,224.828,52.915,220.088,57.667z"
          />
        </svg>
      </span>
    </label>
    <input
      class="todo__header__input"
      type="text"
      placeholder="What needs to be done?"
      [(ngModel)]="todoText"
      (keyup.enter)="add()"
    />
  </div>

  <div class="todo__list" *ngFor="let todo of todos">
    <app-todo *ngIf="isTodoVisible(todo)" [todo]="todo"></app-todo>
  </div>

  <div *ngIf="todos.length > 0" class="todo__footer">
    <p class="footer-text">
      {{ activeTodosCount }}
    </p>
    <app-todo-filter [(filter)]="filter"></app-todo-filter>
    <p
      id="clear-completed"
      *ngIf="isClearCompletedVisible"
      class="footer-text"
      (click)="clearCompleted()"
    >
      Clear completed
    </p>
  </div>
</div>
