<div class="todo">
  <div class="todo__header">
    <label
      [ngStyle]="{ opacity: (count$ | async) > 0 ? 1 : 0 }"
      class="todo__header__checkbox"
    >
      <input
        #checkAll
        type="checkbox"
        [checked]="isTogglerChecked() | async"
        (change)="toggleAll(checkAll.checked)"
      />
      <span class="todo__header__checkbox__control">
        <svg>
          <use xlink:href="/assets/svg/arrow_down.svg#arrow_down"></use>
        </svg>
      </span>
    </label>
    <input
      class="todo__header__input"
      type="text"
      placeholder="What needs to be done?"
      [(ngModel)]="todoText"
      (keyup.enter)="add()"
    />
  </div>

  <div class="todo__list" *ngFor="let todo of todos$ | async">
    <app-todo
      *ngIf="isTodoVisible(todo)"
      [todo]="todo"
      (remove)="onRemove($event)"
    ></app-todo>
  </div>

  <div *ngIf="(count$ | async) > 0" class="papper todo__footer">
    <p class="footer-text">
      {{ countActiveText$ | async }}
    </p>
    <app-todo-filter [(filter)]="filter"></app-todo-filter>
    <p
      id="clear-completed"
      *ngIf="isClearCompletedVisible() | async"
      class="footer-text"
      (click)="clearCompleted()"
    >
      Clear completed
    </p>
  </div>
</div>
