@import "vars";

.form-container {
  @apply max-w-sm bg-white m-auto shadow-xl;
}

.form {
  @apply flex flex-col gap-y-4 p-4;

  &__input {
    display: flex;
    flex-direction: column;
    color: $dark-70;

    input {
      outline: none;
      border: none;
      border-bottom: 1px solid $dark-10;
      font-size: inherit;
      color: inherit;
      transition: all 0.3s;
      padding: 8px;

      &::placeholder {
        font-style: italic;
        color: $dark-15;
      }

      &.ng-invalid {
        border-color: $primary-color;
      }

      &:hover,
      &:focus {
        border-color: $dark-70;
      }
    }
  }

  &__button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px;
    background: $primary-color;
    color: #fff;
    transition: all 0.3s;
    font-size: inherit;
    font-weight: bold;

    &:hover {
      background: $background-color;
      color: $dark-70;
    }
  }

  &__register {
    align-self: flex-end;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
