@import "assets/scss/vars";

* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: $background-color;
}

.footer-text {
  font-size: 14px;
  color: $dark-70;
}

.papper {
  box-shadow:
 /**/ 0 1px 1px $dark-15, 0 10px 0 -5px #fff,
    /**/ 0 10px 1px -4px $dark-15, 0 20px 0 -10px #fff,
    /**/ 0 20px 1px -9px $dark-15;
}
