<div class="todo__item">
  <label class="todo__item__checkbox">
    <input #state type="checkbox" [ngModel]="todo.isDone" (change)="updateState(state.checked)"/>
    <span class="todo__item__checkbox__control">
      <svg>
        <use xlink:href="/assets/svg/check.svg#check"></use>
      </svg>
    </span>
    <input
      #title
      type="text"
      class="todo__item__checkbox__label"
      [ngModel]="todo.title"
      [readonly]="isReadonly"
      (dblclick)="toggleReadonly(true)"
      (keyup.enter)="toggleReadonly(false)"
      (focusout)="toggleReadonly(false)"
      (mousedown)="preventSelection($event)"
      (change)="updateTitle($event)"
    />
  </label>
  <div class="todo__item__button" (click)="remove()">
    <svg>
      <use xlink:href="/assets/svg/remove.svg#remove"></use>
    </svg>
  </div>
</div>
