<div class="todo__item">
  <label class="todo__checkbox">
    <input type="checkbox" [(ngModel)]="todo.isDone" />
    <span class="todo__checkbox__control">
      <svg>
        <use xlink:href="/assets/svg/check.svg#check"></use>
      </svg>
    </span>
    <input
      type="text"
      class="todo__checkbox__label"
      [(ngModel)]="todo.title"
      [readonly]="isReadonly"
      (dblclick)="toggleRename(true)"
      (keyup.enter)="toggleRename(false)"
      (focusout)="toggleRename(false)"
      (mousedown)="preventSelection($event)"
    />
  </label>
  <div class="todo__item__button" (click)="remove()">
    <svg>
      <use xlink:href="/assets/svg/remove.svg#remove"></use>
    </svg>
  </div>
</div>
